Source/Word_Count_Tweet_Collector/CLEAN_HASHTAGS_ONLY.txt
Source/Word_Count_Tweet_Collector/CLEAN_TEXT_ONLY.txt
Source/Word_Count_Tweet_Collector/COMBINED_Twitter_Debate_Data.json
Source/Word_Count_Tweet_Collector/Combined_Tweet_Text.txt
Source/Word_Count_Tweet_Collector/Data_Helper_Py_Scripts/CLEAN_CREATED_AT_ONLY_1.txt
Source/Word_Count_Tweet_Collector/Data_Helper_Py_Scripts/CLEAN_TEXT_ONLY.txt
Source/Word_Count_Tweet_Collector/Data_Helper_Py_Scripts/Combined_Tweet_Text.txt
Source/Word_Count_Tweet_Collector/Debate_Data_9_26_2016_Final_1.json
Source/Word_Count_Tweet_Collector/Debate_Data_9_26_2016_Final_1_2.json
Source/Word_Count_Tweet_Collector/Original_Data_Store/Both_Original_Twitter_Files_From_Debate1_2016.7z
Source/Word_Count_Tweet_Collector/Original_Data_Store/COMBINED_Twitter_Debate_Data.7z
